@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family= Patua +One & display=swap');
*{
    padding: 0px;
    margin: 0px;
    
}
:root{
    --cor0: #29335c;
    --cor1: #ffc15e;
    --cor2: #f4faff;
    --cor3: #00a6a6;
    --cor4: #9a031e;
    --cor5: #4f6d7a;
    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: "patua one", cursive;
}
body{
    background-color: rgb(219, 216, 216);
    
}
header > h1#redessociais{
    height: 60px;
    padding: 10px;
    margin-bottom: 2px;
    font-size: 1.5em;
    font-family: var(--fonte-destaque);
    background-color: var(--cor0);
    color: white;
    text-shadow: 6px 6px 10px black;
    
}
header > h1#comercio{
    height: 60px;
    padding: 10px;
    background-color: var(--cor0);
    color: white;
    text-shadow: 6px 6px 10px black;
    
}
menu#itens{
    background-color: var(--cor1);
    padding: 5px;
    text-align: center;
}
menu > ul > li > a.linkmenu{
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    padding: 3px;
    
    
}
menu >ul > li > a:hover{
    background-color: var(--cor0);
    color: white;
    border-radius: 15px;
    transition: color .4s;
}
menu > ul > li{
    display: inline;
    padding: 5px;
    
}
.explore{
    text-align: left;
    padding: 5px;
    color: var(--cor1);
    text-shadow: 1px 1px 1px black;
}
.bemvindo{
    width: 90%;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
p.bemvindop{
    width: 90%;
    text-align: center;
    text-align: justify; 
    text-indent: 30px;
    margin-bottom: 20px; 
    padding: 2px;
    font-family: var(--fonte-padrao);
    
}
.boxcomercio{
text-align: center;
padding: 10px;
}
.comercio1{
    margin-top: 60px;
    padding: 0px;
    display: inline-block;
    width: 270px;
    height: 130px;
    background-color: white;
    border-radius: 20px;
    border: 4px solid #ffc15e;
}
.pbox1{
    position: relative;
    left: 0px;
    top: -50px;
    text-justify: auto;
}
.logoloja{
    position: relative;
    width: 100px;
    border-radius: 50%;
    left: 0px;
    top: -75px;
}
.h2comercio{
    position: relative;
    left: 0%;
    top: -70px;
    color: var(--cor1);
    text-shadow: 1px 1px 2px var(--cor0);
}
.comercio2{
    margin-top: 75px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    width: 270px;
    height: 130px;
    background-color: white;
    border-radius: 20px;
    border: 4px solid #00a6a6;
}
.logoloja2{
    position: relative;
    width: 100px;
    border-radius: 20%;
    left: 0px;
    top: -75px;
}
.h2emprego{
    position: relative;
    left: 0%;
    top: -70px;
    color:var(--cor3);
    text-shadow: 1px 1px 2px var(--cor0);
}
.comercio3{
    margin-top: 75px;
    display: inline-block;
    width: 270px;
    height: 130px;
    background-color: white;
    border-radius: 20px;
    border: 4px solid #9a031e;
}
.h2serviso{
    position: relative;
    left: 0%;
    top: -70px;
    color: var(--cor4);
    text-shadow: 1px 1px 2px var(--cor0);
}
.logoloja3{
    position: relative;
    width: 100px;
    border-radius: 50%;
    left: 0px;
    top: -75px;
}
.anuncie{
    margin-top: 75px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    width: 270px;
    height: 130px;
    background-color: white;
    border-radius: 20px;
    border: 4px solid #29335c;
}
.logoanuncie{
    position: relative;
    width: 100px;
    border-radius: 50%;
    left: 0px;
    top: -75px;
    border: 3px solid #29335c ;
}
.h2anuncie{
    position: relative;
    left: 0%;
    top: -70px;
    color: var(--cor0);
    text-shadow: 1px 1px 2px var(--cor0);
}
.compra{
    margin-top: 75px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    width: 270px;
    height: 130px;
    background-color: white;
    border-radius: 20px;
    border: 4px solid #ffc15e;
}
.logocompra{
    position: relative;
    width: 100px;
    border-radius: 50%;
    left: 0px;
    top: -75px;
    border: 3px solid #29335c ;
}
.h2compra{
    position: relative;
    left: 0%;
    top: -70px;
    color: #ffc15e;
    text-shadow: 1px 1px 2px var(--cor0);
}
a.linkartigos{
    text-decoration: none;
    
    
}


section.anuncie2{
    background-image: linear-gradient(to left,#cf9d4c , #ec9304 );
    padding: 7px;
    text-align: center;
}
.vagas{
    margin-top: 3px;
    padding: 10px;
    background-color: var(--cor0);
    height: 300px;
}


