@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family= Patua +One & display=swap');
*{
    padding: 0px;
    margin: 0px;
    
}
:root{
    --cor0: #29335c;
    --cor1: #ffc15e;
    --cor2: #f4faff;
    --cor3: #00a6a6;
    --cor4: #9a031e;
    --cor5: #4f6d7a;
    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: "patua one", cursive;
}
body{
    background-color: rgb(219, 216, 216);
    
}
header > h1#redessociais{
    height: 60px;
    padding: 10px;
    margin-bottom: 2px;
    font-size: 1.5em;
    font-family: var(--fonte-destaque);
    background-image: linear-gradient(to left, #29335c , blue);
    color: white;
    text-shadow: 6px 6px 10px black;
    
}
header > h1#comercio{
    height: 60px;
    padding: 10px;
    background-image: linear-gradient(to left, #29335c , blue);
    color: white;
    text-shadow: 6px 6px 10px black;
    
}
menu#itens{
    background-color: var(--cor1);
    padding: 10px;
    text-align: center;
}
menu > ul > li > a.linkmenu{
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    
    
}
menu > ul > li{
    display: inline;
    padding: 10px;
    
}
.explore{
    text-align: center;
}
.bemvindo{
    width: 90%;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    

    
    
}
p.bemvindop{
    width: 90%;
    text-align: center;
    text-align: justify; 
    text-indent: 30px;
    margin-bottom: 20px; 
    padding: 1px;
    font-family: var(--fonte-padrao);
    
}

.artigos{
    background-color: black;
    text-align: center;
    padding: 20px;
}
.comercio1{
    margin: 60px;
    display: inline-block;
    background-color: white;
    border: 3px solid var(--cor1);
    border-radius: 20px;
    width: 300px;
    height: 210px;
    
}
.ddiv1{
    position: relative;
    top: 40px;
    display: inline-block;
    width: 273px;
    height: 130px;
    text-align: center;
}
.textobox{
    position: relative;
    top: 30px;
}
.comercio2{
    margin: 60px;
    display: inline-block;
    background-color: white;
    border: 3px solid var(--cor1);
    border-radius: 20px;
    width: 300px;
    height: 210px;
}
.comercio3{
    margin: 60px;
    display: inline-block;
    background-color: white;
    border: 3px solid var(--cor1);
    border-radius: 20px;
    width: 300px;
    height: 210px;
}