@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family= Patua +One & display=swap');
*{
    padding: 0px;
    margin: 0px;
    
}
:root{
--cor0: #29335c;
--cor1: #ffc15e;
--cor2: #f4faff;
--cor3: #00a6a6;
--cor4: #9a031e;
--cor5: #4f6d7a;
--fonte-padrao: arial, verdana, helvetica, sans-serif;
--fonte-destaque: "patua one", cursive;
}
body{
    background-color: rgb(219, 216, 216);
    
}
header > h1#pagcomercios{
    height: 60px;
    padding: 10px;
    background-color: var(--cor0);
    color: white;
    text-shadow: 6px 6px 10px black;
}
menu#itens{
    background-color: var(--cor1);
    padding: 10px;
    text-align: center;
}
menu > ul > li > a.linkmenu{
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    padding: 8px;
    
    
}
menu >ul > li > a:hover{
    padding: 10px;
    background-color: var(--cor0);
    color: white;
    border-radius: 15px;
    transition: color .4s;
}
menu > ul > li{
    display: inline;
    padding: 10px;
    
}
main > article.boxcomercios{
   text-align: center;
}
main > article > div.boxalimentos{
   width: 270px;
   height: 130px;
   margin: 50px;
   display: inline-block;
   background-color: white;
   border: 2px solid #ffc15e;
   

}
.logoalimentos{
    position: relative;
    width: 270px;
    height: 130px;
    left: 0px;
}
.h1comidas{
    position: relative;
    border-radius: 5px;
    width: 270px;
    padding: 1.5px;
    left: 0%;
    top: -166px;
    background-color: var(--cor1);
    border-radius: 2px 2px 2px white;
}
main > article > div.boxanimais{
    width: 270px;
    height: 130px;
    margin: 50px;
    display: inline-block;
    background-color: white;
    border-radius: px;
    border: 2px solid #ffc15e;
 
 }
 .logoanimais{
    position: relative;
    width: 270px;
    height: 130px;
    left: 0px;
}
.h1animais{
    position: relative;
    border-radius: 5px;
    width: 270px;
    padding: 1.5px;
    left: 0%;
    top: -166px;
    background-color: var(--cor1);
    border-radius: 2px 2px 2px white;
    }
 main > article > div.boxbeleza{
    width: 270px;
    height: 130px;
    margin: 50px;
    display: inline-block;
    background-color: white;
    border-radius: px;
    border: 2px solid #ffc15e;
 
 }
 .logobeleza{
    position: relative;
    width: 270px;
    height: 130px;
    left: 0px;
}
.h1beleza{
    position: relative;
    border-radius: 5px;
    width: 270px;
    padding: 1.5px;
    left: 0%;
    top: -166px;
    background-color: var(--cor1);
    border-radius: 2px 2px 2px white;
    
    }

 main > article > div.casaeconstrucao{
    width: 270px;
    height: 130px;
    margin: 50px;
    display: inline-block;
    background-color: white;
    border-radius: px;
    border: 2px solid #ffc15e;
 }
 .logocasaeconstrucao{
    position: relative;
    width: 270px;
    height: 130px;
    left: 0px;
}
.h1casaeconstrucao{
    position: relative;
    border-radius: 5px;
    width: 270px;
    padding: 1.5px;
    left: 0%;
    top: -166px;
    background-color: var(--cor1);
    border-radius: 2px 2px 2px white;
    
}
 main > article > div.boxacademia{
    width: 270px;
    height: 130px;
    margin: 50px;
    display: inline-block;
    background-color: white;
    border-radius: px;
    border: 2px solid #ffc15e;
 
 }
 .logoacademia{
    position: relative;
    width: 270px;
    height: 130px;
    left: 0px;
}
.h1academia{
    position: relative;
    border-radius: 5px;
    width: 270px;
    padding: 1.5px;
    left: 0%;
    top: -166px;
    background-color: var(--cor1);
    border-radius: 2px 2px 2px white;
    }
 main > article > div.boxlojas{
    width: 270px;
    height: 130px;
    margin: 50px;
    display: inline-block;
    background-color: white;
    border-radius: px;
    border: 2px solid #ffc15e;
 
 }
 .logolojas{
    position: relative;
    width: 270px;
    height: 130px;
    left: 0px;
}
.h1lojas{
    position: relative;
    border-radius: 5px;
    width: 270px;
    padding: 1.5px;
    left: 0%;
    top: -166px;
    background-color: var(--cor1);
    border-radius: 2px 2px 2px white;
    }